.board-tile {
  height: 100px;
  width: 100px;
}

span.emoji {
  font-size: 60px;
  vertical-align: middle;
  line-height: 2;
}

button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
